# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
# Executables
*.out
*.app
.VSCodeCounter/2024-04-13_20-20-33/details.md
.VSCodeCounter/2024-04-13_20-20-33/diff-details.md
.VSCodeCounter/2024-04-13_20-20-33/diff.csv
.VSCodeCounter/2024-04-13_20-20-33/diff.md
.VSCodeCounter/2024-04-13_20-20-33/diff.txt
.VSCodeCounter/2024-04-13_20-20-33/results.csv
.VSCodeCounter/2024-04-13_20-20-33/results.json
.VSCodeCounter/2024-04-13_20-20-33/results.md
.VSCodeCounter/2024-04-13_20-20-33/results.txt
*.md
*.csv
.VSCodeCounter/2024-04-14_15-08-34/diff.txt
.VSCodeCounter/2024-04-14_15-08-34/results.json
.VSCodeCounter/2024-04-14_15-08-34/results.txt
